<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,84},{38,9}}</string>
                <key>offset</key>
                <string>{19,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,216},{38,9}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{80,17}}</string>
                <key>offset</key>
                <string>{19,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,213},{80,17}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{98,129}}</string>
                <key>offset</key>
                <string>{20,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,105},{98,129}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,922},{98,127}}</string>
                <key>offset</key>
                <string>{20,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,107},{98,127}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,922},{98,121}}</string>
                <key>offset</key>
                <string>{19,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,112},{98,121}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,922},{98,119}}</string>
                <key>offset</key>
                <string>{19,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{98,119}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,229},{216,217}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,16},{216,217}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,681},{348,233}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{348,233}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{410,233}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{410,233}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{456,225}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{456,225}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{476,225}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{476,225}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,225}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,225}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,124},{94,21}}</string>
                <key>offset</key>
                <string>{19,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,212},{94,21}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,229},{450,191}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,48},{450,191}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,229},{444,109}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,130},{444,109}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,102},{98,27}}</string>
                <key>offset</key>
                <string>{20,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,207},{98,27}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{98,39}}</string>
                <key>offset</key>
                <string>{20,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,195},{98,39}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,447},{98,65}}</string>
                <key>offset</key>
                <string>{20,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,169},{98,65}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,447},{98,87}}</string>
                <key>offset</key>
                <string>{20,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,147},{98,87}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,916},{98,105}}</string>
                <key>offset</key>
                <string>{20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,129},{98,105}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,916},{98,115}}</string>
                <key>offset</key>
                <string>{20,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,119},{98,115}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
            <key>frame5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,916},{98,119}}</string>
                <key>offset</key>
                <string>{20,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,114},{98,119}}</string>
                <key>sourceSize</key>
                <string>{480,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dab1263ff893e9bd67a142375a02d2b$</string>
            <key>textureFileName</key>
            <string>frame5.png</string>
        </dict>
    </dict>
</plist>
