<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{252,97}}</string>
                <key>offset</key>
                <string>{-5,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,97}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,413},{264,99}}</string>
                <key>offset</key>
                <string>{-1,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{264,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,231},{270,227}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,227}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{270,227}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,227}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,229}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,229}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,233}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,460},{268,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,233}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,536},{268,231}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,231}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,769},{260,229}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{260,229}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{186,137}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,93},{186,137}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,411},{266,99}}</string>
                <key>offset</key>
                <string>{-1,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,141},{268,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,435},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,334},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,233},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
            <key>frame9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,141},{270,99}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:435f8c08a43d51342dbfcbc57e037988$</string>
            <key>textureFileName</key>
            <string>frame9.png</string>
        </dict>
    </dict>
</plist>
