<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{164,27}}</string>
                <key>offset</key>
                <string>{-3,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,265},{164,27}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,186},{194,37}}</string>
                <key>offset</key>
                <string>{-2,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,261},{194,37}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,400},{458,265}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,18},{458,265}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{552,255}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,50},{552,255}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,251}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{568,251}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,186},{202,39}}</string>
                <key>offset</key>
                <string>{-2,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,260},{202,39}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,186},{202,55}}</string>
                <key>offset</key>
                <string>{-2,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,244},{202,55}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,716},{202,269}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,30},{202,269}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,512},{202,291}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,8},{202,291}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,198},{200,295}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,4},{200,295}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{198,293}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,5},{198,293}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{194,297}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,0},{194,297}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
            <key>frame8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{182,137}}</string>
                <key>offset</key>
                <string>{0,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,3},{182,137}}</string>
                <key>sourceSize</key>
                <string>{568,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b117118d567eec4fc72e4ed9913e3fb8$</string>
            <key>textureFileName</key>
            <string>frame8.png</string>
        </dict>
    </dict>
</plist>
