<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{217,187}}</string>
                <key>offset</key>
                <string>{33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,18},{217,187}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{185,167}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,30},{185,167}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,511},{145,121}}</string>
                <key>offset</key>
                <string>{41,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,53},{145,121}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,159}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{265,159}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{259,157}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{259,157}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{261,163}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{261,163}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,191},{243,159}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{243,159}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,352},{243,157}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{243,157}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>frame2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,511},{165,103}}</string>
                <key>offset</key>
                <string>{-52,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,55},{165,103}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86b7d2e832b334fa2373e97a21b1f051$</string>
            <key>textureFileName</key>
            <string>frame2.png</string>
        </dict>
    </dict>
</plist>
