<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuansongmen_0000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,396}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{422,396}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0001@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{396,420}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{396,420}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0002@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{386,410}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{386,410}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0003@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,390},{406,382}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{406,382}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0004@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,774},{404,376}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{404,376}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0005@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{368,394}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{368,394}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0006@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{370,388}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{370,388}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0007@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,392},{380,354}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{380,354}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0008@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,802},{384,376}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,42},{384,376}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0009@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,790},{364,392}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{364,392}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0010@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,408},{394,392}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{394,392}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0011@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,748},{404,376}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{404,376}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0012@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,390},{398,408}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{398,408}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0013@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{386,412}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{386,412}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>chuansongmen_0014@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{420,404}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{420,404}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>csm.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ab5e0e85342f9b1dd8d687ebc95ff0c$</string>
            <key>textureFileName</key>
            <string>csm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
