<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,272},{86,105}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{86,105}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,330},{90,105}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{90,105}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{90,53}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,58},{90,53}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{144,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,135}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,139},{136,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{136,131}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{132,109}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{132,109}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,239},{104,97}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,29},{104,97}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,426},{82,83}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{82,83}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,170},{78,65}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,52},{78,65}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,437},{78,61}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,56},{78,61}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,237},{90,103}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{90,103}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,437},{82,67}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,50},{82,67}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,250},{78,63}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,44},{78,63}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,94},{74,41}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{74,41}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{24,19}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{24,19}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,145},{90,103}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{90,103}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,345},{90,101}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{90,101}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,145},{92,99}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{92,99}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,330},{94,95}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{94,95}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{92,89}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{92,89}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,426},{94,81}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{94,81}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>buff2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{92,69}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,52},{92,69}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5416c18fae643a4eadadff57d6f3eafd$</string>
            <key>textureFileName</key>
            <string>buff2.png</string>
        </dict>
    </dict>
</plist>
