<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>knightFolder-bow_a.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,50},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,8}}</string>
        <key>sourceSize</key>
        <string>{8,8}</string>
      </dict>
      <key>knightFolder-bow_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{14,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,50}}</string>
        <key>sourceSize</key>
        <string>{14,50}</string>
      </dict>
      <key>knightFolder-arrow_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,42},{82,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,10}}</string>
        <key>sourceSize</key>
        <string>{82,10}</string>
      </dict>
      <key>knightFolder-bow_b.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{1,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,30}}</string>
        <key>sourceSize</key>
        <string>{1,30}</string>
      </dict>
      <key>knightFolder-axe_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{85,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,40}}</string>
        <key>sourceSize</key>
        <string>{85,40}</string>
      </dict>
      <key>knightFolder-pike_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{139,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,16}}</string>
        <key>sourceSize</key>
        <string>{139,16}</string>
      </dict>
      <key>knightFolder-sword_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,18},{80,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,18}}</string>
        <key>sourceSize</key>
        <string>{80,18}</string>
      </dict>
      <key>knightFolder-horseEye.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,36},{13,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,13}}</string>
        <key>sourceSize</key>
        <string>{13,13}</string>
      </dict>
      <key>knightFolder-horseHead_.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,18},{40,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,48}}</string>
        <key>sourceSize</key>
        <string>{40,48}</string>
      </dict>
      <key>knightFolder-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,18},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>knightFolder-leg.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,32},{8,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,16}}</string>
        <key>sourceSize</key>
        <string>{8,16}</string>
      </dict>
      <key>knightFolder-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,38},{44,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,40}}</string>
        <key>sourceSize</key>
        <string>{44,40}</string>
      </dict>
      <key>knightFolder-arm.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,38},{20,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,10}}</string>
        <key>sourceSize</key>
        <string>{20,10}</string>
      </dict>
      <key>knightFolder-horseBody.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,54},{40,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,20}}</string>
        <key>sourceSize</key>
        <string>{40,20}</string>
      </dict>
      <key>knightFolder-horseTail.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,50},{8,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,12}}</string>
        <key>sourceSize</key>
        <string>{8,12}</string>
      </dict>
      <key>knightFolder-horseLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,38},{8,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,14}}</string>
        <key>sourceSize</key>
        <string>{8,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Knight.png</string>
      <key>textureFileName</key>
      <string>Knight.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>